@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {

  font-family: 'Lilita One', cursive;
  font-size: 50px;
  zoom: 170%;
  background-color: white;
}

.Login {


  font-size: 110px;
  margin-top: 550px;
  margin-left: 100px;
}

.continue {
  letter-spacing: 3.5px;
  font-size: 47px;
  margin-top: 40px;
  margin-left: 100px;
  color: rgb(255, 167, 52);

}

.Username {
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  width: 750px;
  height: 150px;
  margin-left: 100px;
  margin-top: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.A {
  position: relative;
  top: 320px;
  left: 212px;
  right: 200px;
  display: flex;
  font-size: 40px;
  color: rgba(80, 80, 80, 0.797);
}

.B {
  margin-left: 7px;
  color: rgb(255, 167, 52);
}

.username {
  margin-top: 13px;
  margin-left: 130px;
  font-size: 42px;
  color: rgba(80, 80, 80, 0.797);
  letter-spacing: 2px;
}

button {
  width: 200px;
  height: 400 px;
}

.icon {
  position: relative;
  display: flex;
  margin-left: 35px;
  font-size: 60px;
}

.fillin {
  font-size: 42px;
  font-family: 'Lilita One', cursive;
  padding-left: 30px;
  margin-left: 132px;
  margin-top: -55px;
  display: flex;
  border: 2px solid rgba(152, 152, 152, 0.797);
  border-top: 0px;
  height: 50px;
  width: 550px;
  border-left: 0px;
  border-right: 0px
}

.icon {
  position: relative;
  display: flex;
  margin-left: 35px;
  font-size: 60px;
  overflow: hidden;
  width: 70px;
}

.loginbutton {
  position: relative;
  top: -550px;
}

.Log {
  overflow: hidden;
  width: 896px;
  height: 300px;
}

.circle {
  overflow: hidden;
  margin-top: -1800px;
  margin-left: -850px;
  width: 1800px;
  height: 500px
}

.Circle {
  width: 2000px;
  height: 1850px
}