@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

.lgbg {
  position: relative;
  background-color: #FEE9B1;
}


.loginspace {
  position: relative;
  height: 140px;
}

.LC {
  position: absolute;
  background-color: rgb(255, 187, 39);
  border: #3d3d3d 3px solid;
  box-shadow: 6px 7px #50505085;
  border-radius: 120%;
  padding-top: 40px;
  width: 200px;
  height: 200px;
  justify-content: center;
  text-align: center;
  left: 6%;
  z-index: 0;
}

.LC h2 {
  position: relative;
  color: #552618;

}

.lgbody {
  padding-top: 80px;
  position: relative;
}

.signin {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.pigspace {
  top: 100px;
  display: flex;
  align-items: center;
  justify-items: right;
}

.pig {
  right: 1px;
  margin-left: auto;

}

.pig img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  object-fit: cover;
  z-index: 700;

}

.creator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}