@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');


h2 {
  position: absolute;
  zoom: 170%;
  left: 16%;
  top: 30%;

}

.signin {
  position: absolute;
  top: 40%;
  left: 14%;
  zoom: 170%;
  
}

.lc {

  width: 100%;
  height: 896px;
  background-color: #F6D06B;
}