@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: #FFC033;
    font-family: "Poppins", sans-serif;
}

#Registerationform {
    background-color: white;
    border: #acacac  solid 5px;
    border-radius: 20px;
    width: 820px;
    height: 2000px;
    position: absolute;
    left: 77px;
    right: 100px;
    top: 50px;
    
}

.Registerationinformation {
    font-size: 70px;
    margin-top: 70px;
    padding-left: 58px;
}

H1 {
    font-size: 80px;
    padding-left: 40px;
    
}

.block{
    width: 500px;
    height: 70px;
    border-radius: 20px;;
    border: 2px solid black;
}

button {
    background-color: #FFC033;
    color: white;
    border-radius: 20px;
    border: #acacac 5px;
    position: relative;
    left: 242px;
    width: 330px;
    height: 120px;
    font-size: 70px;
}