@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {

    font-family: 'Lilita One', cursive;
}

.Title {

    font-family: 'Lilita One', cursive;
    font-size: 55px;
    background-image: linear-gradient(to left, #ffe57c, #ffb300);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 2px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;

}


.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;

}


.save {
    width: 45%;
    margin: 5px;
    text-align: center;
}


.img {

    width: 60%;
    height: 60%;
}

.Name {

    font-size: 22px;
    margin-top: 8px;
}

.Total {

    font-size: 18px;
    margin-top: 5px;

}

.Deadline {
    font-size: 18px;
    margin-top: 2px;
}

.Arrear {
    font-size: 20px;
    margin-top: 2px;
}

.vertical-line {
    width: 1px;
    height: 735px;
    background-color: black;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -672px;
    z-index: 1;

}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EBC5A1; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .nav-item {
    text-decoration: none;
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 16px;
    border-radius: 0px;
    transition: color 0.3s ease;
  }
  
  
  .nav-item1 {
  
    text-decoration: none;
    color: black; 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 55px;
  }
  .nav-item2 {
  
    text-decoration: none;
    color: black; 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
  }
  
  
  .nav-item.special {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #FFC033; 
    border-radius: 50%;
    width: 43.2px; 
    height:43.2px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  
  .nav-item.special i.material-icons {
    font-size:50px;
    color: #FFFFE8; 
    line-height: 48px; 
  }
  
  
  .logo-placeholder {
    width: 41.7px; 
    height: 36px; /* Set the height for the logo placeholder */
    background-color: #FFC033; /* Set a background color for the logo placeholder */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
  }
  
  .logo-placeholder img{
    width: 100%; /* Make the image take up the full width of the logo placeholder */
    height: 100%; /* Make the image take up the full height of the logo placeholder */
    object-fit: cover; /* Ensure the image is scaled properly within the circular area */
  }
  
  
  /* Add margin between the "Saving" and "Debt" buttons and the "Adding" button */
  .nav-item:not(.special) {
    margin-right: 12px; /* Adjust the margin as needed */
  }
  
  /* Adjust font size for smaller screens */
  @media (max-width: 480px) {
    .nav-item {
      font-size: 15px;
      padding: 5px 12px;
    }
  } 
  
  
  .Name-nav {
  
  font-size: 12.5px;
  margin-top: 2px;
  }
  
  /*  */