@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {

    font-family: 'Lilita One', cursive;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;

}


.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;

}


.save {
    width: 45%;
    margin: 5px;
    text-align: center;
}


.img {

    width: 60%;
    height: 60%;
}

.Name {

    font-size: 22px;
    margin-top: 8px;
}

.Total {

    font-size: 18px;
    margin-top: 5px;

}

.Deadline {
    font-size: 18px;
    margin-top: 2px;
}

.Arrear {
    font-size: 20px;
    margin-top: 2px;
}

.vertical-line {
    width: 1px;
    height: 735px;
    background-color: black;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -672px;
    z-index: 1;

}
