body {

    font-family: 'Lilita One', cursive;
    background-color: #FFFFE8;
}

.container {

    width: 60%;
    height: 700px;
    
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 0%;
    

}

.logout {

  
    width: 127px;
    height: 50px;
    font-family: 'Lilita One', cursive;
    font-size: 34px;
    position: absolute;
    left: 35%;
    top:650px;


}



.custom-icon {

    font-size: 70px;
    position: relative;
    top: 0px;
    left: 42%;
}


.Name {

    font-size: 23.65px;
    position: relative;
    left: 43%;
    top: 10px
}
.Income, .Expense, .Net {
    font-size: 18px;
    
}
.bar{
    padding-inline: 25px;
    position: relative;
    top: 140px;
}

.Expense {

    font-size: 18.92px;
    position: absolute;
    top: 155px;
    left: 55%;
    color: #000000;

}

.Income{

    font-size: 18.92px;
    position: absolute;
    color: #000000;
    top: 155px;
    left: 19%; 
}

.Net {
    font-size: 20px;
    position: absolute;
    top: 192px;
    left: 41.5%;
}
.pie {
    position:relative;
    top: 170px;
    width: 80%;
    left: -8.5%;
}
@media (max-width: 768px) {
    .container {
        width: 100%;

    }
}
