
body {

    font-family: 'Lilita One', cursive;
    background-color: #FFFFE8;
}

.container {

    width: 350.55px;
    height: 700px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 8%;

}
.logout {

    background-color: #F6D06B;
    border-radius: 5px;
    border: 1px solid black;
    width: 127px;
    height: 50px;
    font-family: 'Lilita One', cursive;
    font-size: 34px;
    position: relative;
    left: 107px;
    top: 480px;

}

.custom-icon {

    font-size: 70px;
    position: relative;
    top: 20px;
    left: 135px;
}


.Name {

    font-size: 23.65px;
    position: relative;
    left: 40.25%;
    top: 30px

}

.Income{

    font-size:  18.92px;
    position: absolute;
    top: 165px;
    left:15%;
}

.Expense {

    font-size: 18.92px;
    position: absolute;
    top: 500px;
    top: 165px;
    left: 50%;

}

.Net {

    font-size: 21px;
    position: absolute;
    top: 200px;
    left: 37.5%;
}

