@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {

    font-family: 'Lilita One', cursive;
}

.Title {

    font-family: 'Lilita One', cursive;
    font-size: 36px;
    background-image: linear-gradient(to left, #ffe57c, #ffb300);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}


.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;

}


.save {
    width: 45%;
    margin: 5px;
    text-align: center;
}


.img {

    width: 50%;
    height: 50%;
}

.Name {

    font-size: 20px;
}

.Goal {

    margin-top: 5px;

}

.Recent {}

.percent {

    font-size: 22px;
    margin-top: 2px;
}

.vertical-line {
    width: 1px;
    height: 795px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -735px;
    z-index: 1;

}