@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');
body {

    font-family: 'Lilita One', cursive;
}
.totalbalance-value {

    font-size: 32px;
    letter-spacing: 2px;
    position: absolute;
   left: 40px;
   top: 23px;
   color: black;
}

.totalbalance {
    position: absolute;
    left: 40px;
    top: 55px;
    font-size: 20px;
    color: black;

}

.bi-bell-fill {

    position: absolute;
    right:20px;
    top: 28px;
    font-size: 20px;
    color: black;
}

.bi-emoji-smile {

    position: absolute;
    top: 28px;
    left: 140px;
    font-size: 25px;
    color: black;
}

.spending-rec {

font-size: 27px;
color: black;
position: relative;
top: 115px;
left: 20px;

}

.spending-detail {

    font-size: 27px;
    color: black;
    position: relative;
    top: 315px;
    left: 20px;
    
    }

.Title {

    height: 100px;
}