@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');
body {

    font-family: 'Lilita One', cursive;
}
.totalbalance-value {

    font-size: 32px;
    letter-spacing: 2px;
    position: absolute;
   left: 20px;
   top: 18px;
   color: black;
}

.totalbalance {
    position: absolute;
    left: 20px;
    top: 55px;
    font-size: 20px;
    color: black;

}

.bi-bell-fill {

    position: absolute;
    right:20px;
    top: 23px;
    font-size: 20px;
    color: black;
}

.bi-emoji-smile {

    position: absolute;
    top: 23px;
    left: 120px;
    font-size: 25px;
    color: black;
}

.bi-clock-history {
    
    position: absolute;
    top: 480px;
    right: 4%;
    font-size: 20px;
    color: black;

}

a{
    cursor: pointer;
}

.spending-rec {

font-size: 27px;
color: black;
position: relative;
top: 20px;
left: 20px;

}

.spending-detail {

    font-size: 27px;
    color: black;
    position: relative;
    top: 330px;
    left: 20px;
    
    }

.Title {

    height: 100px;
    background-image: linear-gradient(to left, #ffe57c, #ffb300);
}

.Topexpense1{
    border: 2px solid black;
    width: 100%;
    height: 60px;
    position: relative;
    top: 335px;
    display:flex
    
    
}

.Topexpense2{
    border-bottom: 2px solid black ;
    width: 100%;
    height: 60px;
    position: relative;
    top: 335px;
    display:flex
    
    
}

.percent {

    font-size: 32px;
    letter-spacing: 1.5px;
    position: absolute;
    left: 78%;
    top : 4px
    
}

.type {
    font-size: 20px;
    letter-spacing: 1.5px;
    position: absolute;
    left: 5%;
    top: 8%;
}


.amount {

    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    top: 32px;
    left: 5%;
    
}
