.aaa {
    position: relative;
    padding-top: 100px;
    justify-content: center;
    left: calc(2% + 10px);
}
.container {

    background-color: #FEE9B1;
    border-radius: 10px;
    border: 1.5px solid black;
    width: 350px;
    height: 530px;
    justify-content: center;
    text-align: center;

}

.dropdown {
    position: absolute;
    justify-content: center;
    left: 60px;
}

.Howmuch {
    padding-top: 20px;
    font-size: 36px;
    position: relative;
}

addDetail {
    position: relative;
    align-items: center;
}


.Date {
    padding-left: 62px;
    position: relative;
    width: 50px;
    top: 40px;
}

.calender {

    text-align: center;
    font-size: 30px;
    width: 216.9px;
    border-radius: 10px;


}

.dropdown {


    text-align: center;
    font-size: 36px;
    width: 216.9px;
    border-radius: 10px;
    background-color: white;
    position: relative;

}


.money {
    width: 216.9px;
    height: 49.5px;
    position: relative;
    border-radius: 10px;
    font-size: 36px;
    text-align: center;
    top: 23px;

}

.type {
    width: 216.9px;
    height: 49.5px;
    position: relative;
    padding-top: 30px;
    border-radius: 10px;
    font-size: 36px;
    text-align: center;
    background-color: white;
    border: 2px solid black;

}


.bi-arrow-down-circle {

    font-size: 20px;
    margin-left: 180px;
}

.rec {

    background-color: #FFC033;
    border-radius: 5px;
    border: 1px solid black;
    width: 144px;
    height: 50px;
    font-family: 'Lilita One', cursive;
    font-size: 36px;
    position: relative;
    justify-content: center;
    top: 20px;
    left: 100px;

}