body {

  font-family: 'Lilita One', cursive;
}

.container {

  background-color: #FEE9B1;
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
  top: 140px;
  left: 25px;
  width: 350px;
  height: 530px;
  justify-content: center;
}
.dropdown{
  justify-content: center;
  margin: auto;
}
.rec-btn {

  background-color: #FFC033;
  border-radius: 5px;
  border: 1px solid black;
  width: 144px;
  height: 50px;
  font-family: 'Lilita One', cursive;
  font-size: 36px;
  position: relative;
  top: 187px;
  left: 130px;
}

#nav {

  border: 0.5px solid black;
  width: 100%;
  position: relative;
  left: 0px;
  top: 250px;
}

.Howmuch {
  font-size: 36px;
  position: absolute;
  top: 30px;
  left: 85px;
}

.Date {

  font-size: 36px;
  position: absolute;
  left: 140px;
  top: 270px;

}

.calender {
  position: absolute;
  top: 335px;
  left: 102px;
  width: 150px;
  height: 170px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white
}

.money {
  width: 216.9px;
  height: 49.5px;
  position: absolute;
  left: 61px;
  top: 102px;
  border-radius: 10px;
  font-family: 'Lilita One', cursive;
  font-size: 36px;
  text-align: center;
}

.type {
  width: 216.9px;
  height: 49.5px;
  position: absolute;
  left: 61px;
  top: 180px;
  border-radius: 10px;
  font-family: 'Lilita One', cursive;
  font-size: 36px;
  text-align: center;
  background-color: white;
  border: 2px solid black;

}


.bi-arrow-down-circle {

  font-size: 20px;
  margin-left: 180px;
}
.space{
  padding-top: 200px;
}