
body {

    font-family: 'Lilita One', cursive;
}
 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}


.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;

}

.save {
  width: 45%;
  margin: 5px;
  text-align: center;
}


.img {

  width: 50%;
  height: 50%;
}

.Name {

  font-size: 20px;
}

.Goal {

  margin-top: 5px;

}

.Recent {}

.percent {

  font-size: 22px;
  margin-top: 2px;
}





.vertical-line {
    width: 1px;
    height: 735px;
    background-color: black;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -672px;
    z-index: 1;

}
