@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {

    font-family: 'Lilita One', cursive;
    background-color: #FEE9B1;
}

button {

    background-color: #FFC033;
    border-radius: 5px;
    border: 1px solid black;
    width: 144px;
    height: 50px;
    font-family: 'Lilita One', cursive;
    font-size: 36px;
    position: relative;
    top: 150px;
    left: 130px;
    cursor: pointer;
  }

.container {

    background-color: white;
    width: 300px;
    height: 600px;
    position: relative;
    top: 40px;
    left: 50px;
    border-radius: 10px;
}

.Name {

font-size: 30px;
position: absolute;
left: 110px;
top: 200px;
}

.Goal {
   
    position: absolute;
    left: 110px;
    top: 320px;
    font-size: 30px;
}

.Recent{

   
    position: absolute;
    left: 60px;
    top: 450px;
    font-size: 30px;
}

.Nameint {

    position: absolute;
    top: 250px;
    left: 60px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    font-size: 30px;
    font-family: 'Lilita One', cursive;
    text-align: center;

}

.Goalint{

    position: absolute;
    top: 360px;
    left: 60px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    font-size: 30px;
    font-family: 'Lilita One', cursive;
    text-align: center;
}

.Recentint {

    position: absolute;
    top: 500px;
    left: 60px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    font-size: 30px;
    font-family: 'Lilita One', cursive;
    text-align: center;
}

.img {

    width: 40%;
    height: 25%;
    position: absolute;
    left: 85px;
    top: 20px;
  }
  

