.savecard {

    width: 45%;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}


.img {
    padding-top: 20px;
    width: 40%;
    height: 40%;
}

.Name {
    padding-bottom: 5px;
}


.Recent {
    font-size: 14px;
}
.perc{
    display: flex;
    flex-wrap: wrap;
}
.bar{
    width: 70%;
}
.p-label{
    padding-left: 10px;
    text-align: end;
}
