.save-con{
    width: 45%;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 250px;
    top: -25px;
}
.savecard {
    position: relative;
    
    text-align: center;
    margin: 5px;
    font-size: 16px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}


.img-pig {
   
    width: 45%;
    
}

.img-debt {
   
    width: 40%;
    height: 40%;
    
}

.Name {
    padding-top: 5px;
    padding-bottom: 0px;
    color: black;
}


.Recent {
    font-size: 14px;
    text-align: center;
    color: black;
}

.perc {
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.bar {
    padding-top: 5px;
    width: 65%;
    color: black;
}

.p-label {
    padding-left: 10px;
    text-align: end;
    font-size: 16px;
    color: black;
}

.Goal {
    text-align: center;
    color: black;
}

.Total {
    position: relative;
    top: -7px;
    color: black;
}

.Deadline {

    position: relative;
    top: -10px;
    color: black;
}

.Arrear {

    color: black;
    position: relative;
    top: -13px;

}

.bi-arrows-angle-expand {

    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 18px;
}


/* for update */
.updatecard{
    background-color: #fff2c7;
}
.Updateinput{
    width: 80%;
}
.update-button-container{
    color: black;
}