.savecard {

    width: 45%;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    position: relative;
}


.img {
    padding-top: 10px;
    width: 40%;
    height: 40%;
}

.Name {
    padding-bottom: 5px;
}


.Recent {
    font-size: 14px;
    text-align: left;
}

.perc {
    display: flex;
    flex-wrap: wrap;
}

.bar {
    padding-top: 5px;
    width: 65%;
}

.p-label {
    padding-left: 10px;
    text-align: end;
    font-size: 16px;
}

.Goal {
    text-align: left;
}
