.card-history {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom: 3px solid #ffffff;
    color: #000000;
    position: relative;
    height: 85px;
    background-color: #ffffff;

}

.💩 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.name {
    font-size: 20px;

}

.amount {
    position: absolute;
    width: 100%;
    font-size: 25px;
    text-align: end;
    left: -3%;
    top: 15%;

}

.date {
    font-size: 13px;
}