<!DOCTYPE html>
<html>
  <head>
    <title>Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="nav.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="bottom-navigation">
      <a href="#" class="nav-item">
        <div class="logo-placeholder">
          <img
            src="   https://cdn-icons-png.flaticon.com/512/2544/2544087.png "
          />
        </div>
        <div class="Name">Home</div>
      </a>
      <a href="#" class="nav-item1">
        <div class="logo-placeholder">
          <img
            src="   https://cdn-icons-png.flaticon.com/512/6108/6108908.png "
            width="256"
            height="256"
            alt=""
            title=""
            class="img-small"
          />
        </div>
        <div class="Name">Saving</div>
      </a>
      <a href="#" class="nav-item2">
        <div class="logo-placeholder">
          <img
            src="   https://cdn-icons-png.flaticon.com/512/3696/3696177.png "
            width="256"
            height="256"
            alt=""
            title=""
            class="img-small"
          />
        </div>
        <div class="Name">Debt</div>
      </a>
      <a href="#" class="nav-item">
        <div class="logo-placeholder">
          <img
            src="   https://cdn-icons-png.flaticon.com/512/436/436356.png "
            width="256"
            height="256"
            alt=""
            title=""
            class="img-small"
          />
        </div>
        <div class="Name">Profile</div>
      </a>
      <a href="#" class="nav-item special">
        <i class="material-icons">add</i>
      </a>
    </nav>
  </body>
</html>
