.re-btn{
    padding-top: 5px;
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
    justify-content: center;
}
.re-img{
    position: relative;
    justify-content: center;
    width: 10%;
    margin: 5px;
}