.re-btn{
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
    justify-content: center;
    position: relative;
    padding-left: 10px;
}
.re-img{
    position: absolute;
    justify-content: center;
    width: 25px;
    padding-top: 75px;
    z-index: 100000;
}