.form {
  width: 75%;
  background-color: #ffebb5;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 4.5px #7a7a7a62;
  justify-content: left;
  position: relative;
  margin-bottom: 40px;
}

.form h2 {
  position: relative;
  font-size: 1.0rem;
  margin-bottom: 10px;
}

.form form label {
  display: block;
  margin-bottom: 10px;
}

.form input {
  width: 70%;
  padding: 8px;
  border: 1px solid #b1aca300;
  border-radius: 3px;
}

form button#form1 {
  background-color: #c3ffa0;
  color: #005c17;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: 3px 4.5px #7a7a7a62;
}

.plus-icon {
  width: 45%;
  justify-content: center;
  max-width: 250px;
}

.➕ {
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 5px;

}