 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {
  margin: 0;
  padding: 0;
  
  font-family : 'Lilita One', cursive;
}


.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #EBC5A1; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}


.nav-item {
  text-decoration: none;
  color: black; /* Text color is changed to black */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  transition: color 0.3s ease;
}

/* Additional styles for the "Add" button */
.nav-item.special {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button both horizontally and vertically */
  background-color: #FFC033; /* Background color of the "Add" button */
  color: #fff;
  border-radius: 50%;
  width: 48px; /* Set a slightly smaller width for the button */
  height: 48px; /* Set a slightly smaller height for the button */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust the size of the plus symbol */
.nav-item.special i.material-icons {
  font-size: 32px; /* Set a specific font size for the plus symbol */
  line-height: 48px; /* Adjust the line height to vertically center the plus symbol */
}

/* Create a logo placeholder with a specified width and height */
.logo-placeholder {
  width: 50px; /* Set the width for the logo placeholder */
  height: 45px; /* Set the height for the logo placeholder */
  background-color: #FFC033; /* Set a background color for the logo placeholder */
  border-radius: 50%; /* Make it circular */
  overflow: hidden;
}

.logo-placeholder img{
  width: 100%; /* Make the image take up the full width of the logo placeholder */
  height: 100%; /* Make the image take up the full height of the logo placeholder */
  object-fit: cover; /* Ensure the image is scaled properly within the circular area */
}


/* Add margin between the "Saving" and "Debt" buttons and the "Adding" button */
.nav-item:not(.special) {
  margin-right: 12px; /* Adjust the margin as needed */
}

/* Adjust font size for smaller screens */
@media (max-width: 480px) {
  .nav-item {
    font-size: 12px;
    padding: 6px 12px;
  }
} 

/*  */