@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lilita+One&display=swap');

body {
    background-color: #FEE9B1;
    
}

H1 {

    font-size: 90px;
    background-color: rgb(255, 255, 255);
    padding-left: 58px;
    width: 265px;
    height: 110px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 100px;
    font-family: 'Lilita One', cursive;
    padding-top: 7px;

}

.NEED {

    font-size: 75px;
    padding-left: 230px;
    margin-top: -105px;
    font-family: 'Inconsolata', monospace;

}

.TYPE {

    margin-left: 70px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 140px;

}

.TYPE2 {

    margin-left: 70px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 140px;

}

.TYPE3 {

    margin-left: 70px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 140px;

}

img {

    object-fit: cover;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 15px;
    margin-left: 50px;

}


#want {

    font-size: 90px;
    background-color: rgb(255, 255, 255);
    padding-left: 60px;
    width: 260px;
    height: 120px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 100px;
    padding-right: 20px;
    font-family: 'Lilita One', cursive;
    padding-top: 13px;

}

#Income {

    font-size: 90px;
    background-color: rgb(255, 255, 255);
    padding-left: 75px;
    width: 347px;
    height: 120px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 100px;
    padding-right: 20px;
    font-family: 'Lilita One', cursive;
    padding-top: 10px;

}